<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Transport_Management_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>UpdateStatus2Servlet</display-name>
    <servlet-name>UpdateStatus2Servlet</servlet-name>
    <servlet-class>transportaion.manager.UpdateStatus2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatus2Servlet</servlet-name>
    <url-pattern>/UpdateStatus2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecentlyInstalledTrucks</display-name>
    <servlet-name>RecentlyInstalledTrucks</servlet-name>
    <servlet-class>transportaion.manager.RecentlyInstalledTrucks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecentlyInstalledTrucks</servlet-name>
    <url-pattern>/RecentlyInstalledTrucks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUsServlet</display-name>
    <servlet-name>ContactUsServlet</servlet-name>
    <servlet-class>transportaion.manager.ContactUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsServlet</servlet-name>
    <url-pattern>/ContactUsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerDetailsServlet1</display-name>
    <servlet-name>ManagerDetailsServlet1</servlet-name>
    <servlet-class>transportation.management.system.ManagerDetailsServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerDetailsServlet1</servlet-name>
    <url-pattern>/ManagerDetailsServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TruckRootServlet</display-name>
    <servlet-name>TruckRootServlet</servlet-name>
    <servlet-class>transportaion.manager.TruckRootServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TruckRootServlet</servlet-name>
    <url-pattern>/TruckRootServlet</url-pattern>
  </servlet-mapping>
</web-app>